body {
  margin: 0;
}

/* Header cố định */
header {
  position: fixed;
  top : 0;
  width: 100vw;
}

/* Layout (bắt đầu dưới header) */
.layout {
  display: flex;
  margin-top: 70px; /* để không che nội dung */
}

/* Sidebar cố định */
.sidebar {
  position: fixed;
  top: 135px; /* ngay dưới header */
  left: 0;
  width: 220px;
  height: calc(100vh - 70px); /* full chiều cao trừ header */
  background: #fff;
  border-right: 1px solid #ddd;
  padding: 1rem;
  overflow-y: auto;
}

/* Main dịch qua phải */
#main-content {
  margin-left: 150px; /* chừa chỗ cho sidebar */
  margin-top: 140px; /* để không che nội dung */
  padding: 1rem;
}
