/* 1. Reset CSS cơ bản để đảm bảo full height hoạt động */
html,
body,
#root {
  margin: 0;
  padding: 0;
  /* Đảm bảo thẻ html, body, và #root chiếm 100% chiều cao */
  height: 100%;
  /* Đặt box-sizing để padding và border không làm tăng kích thước */
  box-sizing: border-box;
}

main {
  width: auto;
}

.container {
  display: flex;
  width: 100%;
}

/* ChatBot background */
.chatbot-bg {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #000;
  overflow: hidden;
}

.chatbot-bg__overlay {
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.chatbot-content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

/* Phần Chat */
.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

/* Phần chat chính */
.header-chat {
  border-style: double;
  flex: 0 0 auto;
  height: 64px;
}

.chat main {
  flex: 1 1 auto;
  overflow: auto; /* cuộn message khi vượt quá chiều cao */
  display: flex;
  flex-direction: column;
}

.message-list {
  flex: 1 1 auto;
  overflow-y: auto;
}
.message-input {
  flex: 0 0 auto;
}

/* SideBar */
.sidebar-chat {
  border-style: double;
  width: 15%;
  height: 700px;
}

.logo-robot {
  width: 70px;
  height: 60px;
  margin: auto;
}

.header-sidebar {
  display: flex;
  height: 100px;
}

.btn-new-chat {
  display: flex;
  margin-top: 30%;
  margin-left: 10%;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out !important;
  border: 0;
  background-image: linear-gradient(
    270deg,
    #ce31ea,
    #ea37b1,
    #6f1575
  ) !important;
  background-size: 200% 100% !important;
  width: 160px;
  min-width: 115px;
  height: 44px !important;
  color: #fff !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  border-radius: 5px !important;
  font-size: 14px;
}

.btn-new-chat span {
  margin-right: 2%;
}

.text-history {
  margin-top: 50%;
}
